body {
  width: 1200px;
  margin: 0 auto;
}
.wrapper {
  width: 70%;
  background-color: #dcdcdc;
  padding: 100px 150px;
}

.wrapper-back {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  box-shadow: 0 0 60px -20px;
}

.left-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgb(6, 37, 58);
  justify-content: space-between;
  color: white;
}

.aside-info {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.h1 {
  padding: 10px 20px;
  margin: 0;
  font-size: 30px;
  background-color: rgb(78, 91, 107);
  border-left: wheat;
  color: orange;
}

.title {
  font-size: 45px;
}

header {
  padding: 30px 95px;
  border-bottom: 2px solid orange;
}

img {
  width: 100%;

  height: 100%;
}

p {
  padding: 20px;
  margin: 0;
}

footer {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-evenly;
  border-top: 2px solid orange;
}

.footer-link {
  width: 30px;
  height: 30px;
}
